.page-item.active .page-link {
    z-index: 3;
    border-radius: 5rem;
    background-color: var(--primary) !important;
    color: #fff !important;
    font-weight: 600;
}

.page-item .page-link:hover {
    color: var(--primary) !important;
}
.page-item.active .page-link:hover {
    color: white !important;
}

.dark-layout .pagination:not([class*='pagination-']) .page-item.active .page-link {
    background-color: var(--primary) !important;
}

.dark-layout .pagination:not([class*='pagination-']) .page-item .page-link:hover {
    color: var(--primary) !important;
}
